<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="_12-classes-et-groupes">
    <img class="img-isep" src="img-isep0.png" />
    <div class="next-button">
      <div class="button">Passer à l’étape suivante --&gt;</div>
    </div>
    <div class="box">
      <div class="retourner-bouton">
        <div class="div">
          <img
            class="vuesax-linear-arrow-left"
            src="vuesax-linear-arrow-left0.svg"
          />
        </div>
        <div class="retourner">Retourner</div>
      </div>
      <div class="titre">
        <div class="titre2">Data base</div>
        <div class="sous-titre">
          Donner un nom à votre dossier, puis indiquer le semestre et l’année de
          scolaire que vous voulez générer !
        </div>
      </div>
    </div>
    <div class="file-upload-eleves">
      <div class="property-1-default">
        <img
          class="_24-outlined-action-download-upload-upload"
          src="_24-outlined-action-download-upload-upload0.svg"
        />
      </div>
      <div class="property-1-error"></div>
    </div>
    <div class="file-upload-professeurs">
      <div class="property-1-default">
        <img
          class="_24-outlined-action-download-upload-upload2"
          src="_24-outlined-action-download-upload-upload1.svg"
        />
      </div>
      <div class="property-1-error"></div>
    </div>
    <div class="file-upload-salles">
      <div class="property-1-default">
        <img
          class="_24-outlined-action-download-upload-upload3"
          src="_24-outlined-action-download-upload-upload2.svg"
        />
      </div>
      <div class="property-1-error"></div>
    </div>
    <div class="file-upload-formations">
      <div class="property-1-default">
        <img
          class="_24-outlined-action-download-upload-upload4"
          src="_24-outlined-action-download-upload-upload3.svg"
        />
      </div>
      <div class="property-1-error"></div>
    </div>
    <div class="telecharger-button">
      <img class="combo-shape" src="combo-shape0.svg" />
      <div class="t-l-charger-les-formulaire">Télécharger les formulaire</div>
    </div>
  </div>
  
</body>
</html>