<div class="_21-profile">
  <div class="background"></div>
  <div class="rectangle-3463279"></div>
  <div class="frame-1000000968">
    <div class="text">File name</div>
    <div class="text2">Semestre et année scolaire</div>
  </div>
  <div class="side-menu-variant-3">
    <div class="rectangle-41"></div>
    <div class="logo-text"></div>
    <div class="frame-427320604">
      <div class="dashboard">
        <div class="rectangle-42"></div>
        <div class="huge-icon-interface-solid-apps">
          <img class="apps" src="apps0.svg" />
        </div>
        <div class="profile">Profile</div>
        <div class="rectangle-7"></div>
      </div>
      <div class="all-employees">
        <div class="rectangle-422"></div>
        <img
          class="huge-icon-user-outline-users-02"
          src="huge-icon-user-outline-users-020.svg"
        />
        <div class="l-ves">Élèves</div>
        <div class="rectangle-72"></div>
      </div>
      <div class="all-departments">
        <div class="rectangle-423"></div>
        <img
          class="huge-icon-user-outline-community"
          src="huge-icon-user-outline-community0.svg"
        />
        <div class="classes-groupes">Classes / Groupes</div>
        <div class="rectangle-73"></div>
      </div>
      <div class="attendance">
        <div class="rectangle-424"></div>
        <img
          class="huge-icon-time-and-date-outline-calendar-check"
          src="huge-icon-time-and-date-outline-calendar-check0.svg"
        />
        <div class="emploie-du-temps">Emploie du temps</div>
        <div class="rectangle-74"></div>
      </div>
      <div class="all-employees">
        <div class="rectangle-425"></div>
        <img
          class="huge-icon-finance-and-payment-outline-coin-dollar"
          src="huge-icon-finance-and-payment-outline-coin-dollar0.svg"
        />
        <div class="salles">Salles</div>
        <div class="rectangle-75"></div>
      </div>
      <div class="candidates">
        <div class="rectangle-426"></div>
        <img
          class="huge-icon-user-outline-users-01"
          src="huge-icon-user-outline-users-010.svg"
        />
        <div class="professeurs">Professeurs</div>
        <div class="rectangle-76"></div>
      </div>
      <div class="leaves">
        <div class="rectangle-427"></div>
        <img
          class="huge-icon-interface-outline-notepad"
          src="huge-icon-interface-outline-notepad0.svg"
        />
        <div class="formations">Formations</div>
        <div class="rectangle-77"></div>
      </div>
    </div>
    <div class="telecharger-button">
      <img class="combo-shape" src="combo-shape0.svg" />
      <div class="quitter-et-t-l-charger">Quitter et télécharger</div>
    </div>
    <img class="e-cureil-drapeau-jaune-1" src="e-cureil-drapeau-jaune-10.png" />
    <img class="iseplogo" src="iseplogo0.svg" />
  </div>
  <img class="illu-ingenieur-logiciel-1" src="illu-ingenieur-logiciel-10.png" />
  <div class="bienvenu">Bienvenue 👋</div>
</div>
