<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="_22-etudiants">
    <div class="background"></div>
    <div class="rectangle-3463279"></div>
    <div class="page">
      <div class="text">Étudiants</div>
    </div>
    <div class="rectangle-742"></div>
    <div class="button">
      <img
        class="huge-icon-device-outline-filter"
        src="huge-icon-device-outline-filter0.svg"
      />
      <div class="button2">Filtrer</div>
    </div>
    <div class="button3">
      <img
        class="huge-icon-interface-outline-add-circle"
        src="huge-icon-interface-outline-add-circle0.svg"
      />
      <div class="button4">Ajouter étudiant(e)</div>
    </div>
    <div class="input">
      <div class="frame-34">
        <img class="icon" src="icon0.svg" />
        <div class="text2">Search</div>
      </div>
    </div>
    <div class="liste-profils">
      <div class="titres-liste">
        <div class="nom">
          <div class="nom-et-pr-nom">Nom et prénom</div>
        </div>
        <div class="id">
          <div class="id2">ID</div>
        </div>
        <div class="classe">
          <div class="department">Department</div>
        </div>
        <div class="formation">
          <div class="designation">Designation</div>
        </div>
        <div class="sexe">
          <div class="type">Type</div>
        </div>
        <div class="contrat">
          <div class="status">Status</div>
        </div>
        <div class="modifier">
          <div class="action">Action</div>
        </div>
      </div>
      <div class="eleve">
        <div class="profile">
          <img class="ellipse-1192" src="ellipse-11920.png" />
          <div class="darlene-robertson">Darlene Robertson</div>
        </div>
        <div class="id">
          <div class="_345321231">345321231</div>
        </div>
        <div class="class">
          <div class="design">Design</div>
        </div>
        <div class="formation">
          <div class="ui-ux-designer">UI/UX Designer</div>
        </div>
        <div class="sexe">
          <div class="office">Office</div>
        </div>
        <div class="contrat">
          <div class="tags">
            <div class="text3">Permanent</div>
          </div>
        </div>
        <div class="modifier">
          <div class="frame-1000000989">
            <img
              class="huge-icon-device-outline-view"
              src="huge-icon-device-outline-view0.svg"
            />
            <img
              class="huge-icon-interface-outline-edit"
              src="huge-icon-interface-outline-edit0.svg"
            />
            <img
              class="huge-icon-interface-outline-trash-01"
              src="huge-icon-interface-outline-trash-010.svg"
            />
          </div>
        </div>
      </div>
      <div class="eleve">
        <div class="profile">
          <img class="ellipse-1192" src="ellipse-11921.png" />
          <div class="darlene-robertson">Darlene Robertson</div>
        </div>
        <div class="id">
          <div class="_345321231">345321231</div>
        </div>
        <div class="class">
          <div class="design">Design</div>
        </div>
        <div class="formation">
          <div class="ui-ux-designer">UI/UX Designer</div>
        </div>
        <div class="sexe">
          <div class="office">Office</div>
        </div>
        <div class="contrat">
          <div class="tags">
            <div class="text3">Permanent</div>
          </div>
        </div>
        <div class="modifier">
          <div class="frame-1000000989">
            <img
              class="huge-icon-device-outline-view2"
              src="huge-icon-device-outline-view1.svg"
            />
            <img
              class="huge-icon-interface-outline-edit2"
              src="huge-icon-interface-outline-edit1.svg"
            />
            <img
              class="huge-icon-interface-outline-trash-012"
              src="huge-icon-interface-outline-trash-011.svg"
            />
          </div>
        </div>
      </div>
      <div class="eleve">
        <div class="profile">
          <img class="ellipse-1192" src="ellipse-11922.png" />
          <div class="darlene-robertson">Darlene Robertson</div>
        </div>
        <div class="id">
          <div class="_345321231">345321231</div>
        </div>
        <div class="class">
          <div class="design">Design</div>
        </div>
        <div class="formation">
          <div class="ui-ux-designer">UI/UX Designer</div>
        </div>
        <div class="sexe">
          <div class="office">Office</div>
        </div>
        <div class="contrat">
          <div class="tags">
            <div class="text3">Permanent</div>
          </div>
        </div>
        <div class="modifier">
          <div class="frame-1000000989">
            <img
              class="huge-icon-device-outline-view3"
              src="huge-icon-device-outline-view2.svg"
            />
            <img
              class="huge-icon-interface-outline-edit3"
              src="huge-icon-interface-outline-edit2.svg"
            />
            <img
              class="huge-icon-interface-outline-trash-013"
              src="huge-icon-interface-outline-trash-012.svg"
            />
          </div>
        </div>
      </div>
      <div class="eleve">
        <div class="profile">
          <img class="ellipse-1192" src="ellipse-11923.png" />
          <div class="darlene-robertson">Darlene Robertson</div>
        </div>
        <div class="id">
          <div class="_345321231">345321231</div>
        </div>
        <div class="class">
          <div class="design">Design</div>
        </div>
        <div class="formation">
          <div class="ui-ux-designer">UI/UX Designer</div>
        </div>
        <div class="sexe">
          <div class="office">Office</div>
        </div>
        <div class="contrat">
          <div class="tags">
            <div class="text3">Permanent</div>
          </div>
        </div>
        <div class="modifier">
          <div class="frame-1000000989">
            <img
              class="huge-icon-device-outline-view4"
              src="huge-icon-device-outline-view3.svg"
            />
            <img
              class="huge-icon-interface-outline-edit4"
              src="huge-icon-interface-outline-edit3.svg"
            />
            <img
              class="huge-icon-interface-outline-trash-014"
              src="huge-icon-interface-outline-trash-013.svg"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="change-pages">
      <div class="frame-556">
        <div class="huge-icon-arrows-solid-direction-right-2">
          <img class="direaction-right" src="direaction-right0.svg" />
        </div>
        <div class="frame-427320598">
          <div class="button5">
            <div class="content">1</div>
          </div>
          <div class="button6">
            <div class="content2">2</div>
          </div>
          <div class="button6">
            <div class="content2">3</div>
          </div>
          <div class="button6">
            <div class="content2">4</div>
          </div>
        </div>
        <div class="huge-icon-arrows-solid-direction-right-01">
          <img class="direaction-right2" src="direaction-right1.svg" />
        </div>
      </div>
    </div>
    <div class="side-menu-variant-3">
      <div class="rectangle-41"></div>
      <div class="logo-text"></div>
      <div class="frame-427320604">
        <div class="profile2">
          <div class="rectangle-42"></div>
          <div class="huge-icon-interface-solid-apps">
            <img class="apps" src="apps0.svg" />
          </div>
          <div class="profile3">Profile</div>
          <div class="rectangle-7"></div>
        </div>
        <div class="eleves">
          <div class="rectangle-422"></div>
          <img
            class="huge-icon-user-outline-users-02"
            src="huge-icon-user-outline-users-020.svg"
          />
          <div class="l-ves">Élèves</div>
          <div class="rectangle-72"></div>
        </div>
        <div class="classes-groupes">
          <div class="rectangle-423"></div>
          <img
            class="huge-icon-user-outline-community"
            src="huge-icon-user-outline-community0.svg"
          />
          <div class="classes-groupes2">Classes / Groupes</div>
          <div class="rectangle-73"></div>
        </div>
        <div class="emploiedutemps">
          <div class="rectangle-424"></div>
          <img
            class="huge-icon-time-and-date-outline-calendar-check"
            src="huge-icon-time-and-date-outline-calendar-check0.svg"
          />
          <div class="emploie-du-temps">Emploie du temps</div>
          <div class="rectangle-74"></div>
        </div>
        <div class="salles">
          <div class="rectangle-425"></div>
          <img
            class="huge-icon-finance-and-payment-outline-coin-dollar"
            src="huge-icon-finance-and-payment-outline-coin-dollar0.svg"
          />
          <div class="salles2">Salles</div>
          <div class="rectangle-75"></div>
        </div>
        <div class="professeurs">
          <div class="rectangle-426"></div>
          <img
            class="huge-icon-user-outline-users-01"
            src="huge-icon-user-outline-users-010.svg"
          />
          <div class="professeurs2">Professeurs</div>
          <div class="rectangle-76"></div>
        </div>
        <div class="formation2">
          <div class="rectangle-427"></div>
          <img
            class="huge-icon-interface-outline-notepad"
            src="huge-icon-interface-outline-notepad0.svg"
          />
          <div class="formations">Formations</div>
          <div class="rectangle-77"></div>
        </div>
      </div>
      <div class="telecharger-button">
        <img class="combo-shape" src="combo-shape0.svg" />
        <div class="quitter-et-t-l-charger">Quitter et télécharger</div>
      </div>
      <img class="e-cureil-drapeau-jaune-1" src="e-cureil-drapeau-jaune-10.png" />
      <img class="iseplogo" src="iseplogo0.svg" />
    </div>
  </div>
  
</body>
</html>